.createButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clubDropdownContainer {
  /* padding: 0.7em 1em; */
  /* border-radius: 0.6em; */
  width: 100%;
  font-size: large;
}

.clubActionButton {
  padding-left: 2em;
  padding-right: 2em;
}

.clubActionButtonContainer {
  display: flex;
}

.clubAdminUserList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addClubAdminsSearchBox {
  padding: 0.8em;
  border-radius: 1em;
  border-color: lightgrey;
  width: 22em;
  border-width: 2px;
  border-style: solid;
}
