@media print {
  body {
    visibility: hidden;
  }

  .qrCode {
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 2em;
  }
}

.code {
  margin-top: 0;
}
